<!DOCTYPE html>
<html lang="en">

     <head>
          <meta charset="UTF-8">
          <meta name="viewport" content="width=device-width, initial-scale=1.0">
          <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/style.css')}}">
          <title>Zomato app</title>
     </head>

     <body>
          <header>
               <nav>
                    <div class="logo">Zomato Chronicles</div>
                    <ul class="list">
                         <li><a href="">New Order</a></li>
                         <li><a href="">All Orders</a></li>
                    </ul>
               </nav>
          </header>
          <main class="main">
               <aside class="operation-sidebar">
                    <div class="add-dish">
                         <form action="/add-dish" method="post">
                              <h1>Add Delicious Dish</h1>
                              <input type="text" name="name" placeholder="Enter the name of dish">
                              <input type="number" name="price" placeholder="Enter the price of dish">
                              <input type="number" name="stock" placeholder="Enter the stock of dish">
                              <input type="submit" value="Add Dish" />
                         </form>
                    </div>
                    <div class="add-dish">
                         <form action="/update-dish/{{index}}" method="post">
                              <h1>Update Delicious Dish</h1>
                              <input type="text" name="name" placeholder="Enter the name of dish">
                              <input type="number" name="price" placeholder="Enter the price of dish">
                              <input type="number" name="stock" placeholder="Enter the stock of dish">
                              <input type="submit" value="Add Dish" />
                         </form>
                    </div>

               </aside>
               <section class=" product-container">
                    <table>
                         <thead>
                              <tr>
                                   <td>S.no</td>
                                   <td>Dish-ID</td>
                                   <td>Dish-Name</td>
                                   <td>Dish-Price</td>
                                   <td>Dish-Stock</td>
                                   <td>Edit</td>
                                   <td>Delete</td>
                              </tr>
                         </thead>
                         <tbody>
                              <tr></tr>
                         </tbody>
                    </table>
               </section>
          </main>

          <script>
               document.querySelector('.add-dish')
                    .addEventListener('submit', function (event) {
                         event.preventDefault();
                         const form = event.target;

                         fetch(form.action, {
                              method: form.method,
                              body: new FormData(form)
                         })
                              .then(res => res.json())
                              .then(res => console.log(res))
                              .catch(err => console.log(err))

                    })
          </script>
     </body>

</html>